include ../includes/head.pug
include ../includes/nav.pug
body
    div#searchDiv
    .container
        .uk-flex.uk-height-medium.uk-margin.uk-text-center
            .uk-margin-auto.uk-margin-auto-vertical.uk-card.uk-card-default.uk-card-body(class='uk-width-1-2@s')
                p #{__("RESET_PASSWORD_SUCCESS_DESC_ONE")}
                a(href=`/${urlPath}/homepage`) #{__("RESET_PASSWORD_SUCCESS_DESC_TWO")}
include ../includes/footer.pug