include ../includes/head.pug
include ../includes/nav.pug
body
    .container
        .uk-flex.uk-height-medium.uk-margin.uk-text-center
            .uk-margin-auto.uk-margin-auto-vertical.uk-card.uk-card-default.uk-card-body(class='uk-width-1-2@s')
                p There was an error resetting your password, please try again.
                p If this error keeps recurring, please 
                    a(href=`/${urlPath}/infosider/about#contact-form`) contact us
include ../includes/footer.pug