include ../includes/head.pug
include ../includes/nav.pug
body
    div#searchDiv
    .container
        .uk-flex.uk-height-medium.uk-margin.uk-text-center
            .uk-margin-auto.uk-margin-auto-vertical.uk-card.uk-card-default.uk-card-body(class='uk-width-1-2@s')
                p You have successfully changed your password
                a(href=`/${urlPath}/homepage`) Click here to go to the frontpage.
include ../includes/footer.pug