include ../includes/head.pug
include ../includes/nav.pug
body
    .container
        p There was an error resetting your password, contact support if this continues to happen.
include ../includes/footer.pug