
include ../includes/head.pug
include ../includes/nav.pug
body
    .container
        form(action='' method='post')
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='newPassword' placeholder='Password' required)
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='newPasswordRepeat' placeholder='Repeat password' required)
            .uk-margin
                .uk-inline
                    button.uk-button.uk-button-default.uk-margin-right(type='submit') Enter
footer
    include ../includes/footer.pug
