include ../includes/head.pug
include ../includes/nav.pug

body
    .container
        h2.uk-heading-xsmall.uk-heading-divider.uk-margin-medium-bottom.uk-text-center.uk-margin-medium-top Administrator Dashboard
        ul.uk-subnav.uk-subnav-pill.uk-flex.uk-flex-center(uk-switcher='' id='admin-switcher')
            li
                a(href='#') Reviews
            li
                a(href='#') Language
            li
                a(href='#') Forum
            li
                a(href='#') Users
            li
                a(href='#') Support
        .uk-heading-divider
        ul.uk-switcher.uk-margin
            li 
                include ../includes/admindashboard/reviews.pug
            li
                include ../includes/admindashboard/language.pug
            li 
                include ../includes/admindashboard/forum.pug
            li
                include ../includes/admindashboard/users.pug
            li
                include ../includes/admindashboard/support.pug

include ../includes/footer.pug
script(src="/javascript/admindashboard/admin.js")
script(src="/javascript/admindashboard/reviews.js")
script(src="/javascript/admindashboard/support.js")
script(src="/javascript/admindashboard/banuser.js")