.footer-wrapper
    .footerlogo
        img(src='images/logo/footerlogo.png')
    ul.uk-list.footer-list
        li About Us
        li Contact Us
        li Privacy Policy
        li Terms of Use
    .socials
        h4.uk-align-center Follow us on social media!
        .footer-socials-wrapper
            img(src='images/logo/facebooklogo.png' height='35px' width='35px')
            img(src='images/logo/twitterlogo.png' height='35px' width='35px')
            img(src='images/logo/instagramlogo.png' height='35px' width='35px')
    

    
