//-
    Pug/Html for headeren
    Author: Ørjan Dybevik - 233530
html(lang=`${urlPath}`)
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/css/uikit.min.css')
    link(rel="stylesheet" type="text/css" href="/css/index.css")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap' rel='stylesheet')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    title Filmatory 
    script.
      var url = "#{url}";
      var urlPath = "#{urlPath}";
