html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/css/uikit.min.css')
    link(rel="stylesheet" type="text/css" href="/css/index.css")
    script(src='https://code.highcharts.com/highcharts.js')
    title Filmatory 
    style.
      @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
      body{
      font-family: 'Noto Serif', serif;
      }
