button.uk-button.uk-button-default.login-btn.uk-height-1-1(type='button') Account
div(uk-dropdown='animation: uk-animation-slide-top-small;')
  ul.uk-nav.uk-dropdown-nav
    li.uk-active
      a(href='/user/dashboard') My Account
    li
      a(href='#') Favorites
    li
      a(href='/auth/logout') Logout

