- var username = username;
.nav-wrapper
  .uk-position-relative
      nav.uk-navbar-container.uk-navbar-transparent(uk-navbar='')
        .uk-navbar-left
          ul.uk-navbar-nav
            li.uk-active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Database
              .uk-navbar-dropdown
                ul.uk-nav.uk-navbar-dropdown-nav
                  li.uk-active
                    a(href='#') Active
                  li
                    a(href='#') Item
                  li.uk-nav-header Explore
                  li
                    a(href='#') Movies
                  li
                    a(href='#') TV-Shows
                  li.uk-nav-divider
                  li
                    a(href='#') Contact
              li
                .uk-navbar-item
                  form.uk-search.uk-search-default.uk-width-1-1
                      span(uk-search-icon='')
                      input.uk-search-input(type='search' placeholder='Search...')
              if username
                include loggedin.pug
              else
                include loggedout.pug