- var username = username;
.nav-wrapper
  .uk-position-relative
      nav.uk-navbar-container.uk-navbar-transparent(uk-navbar='')
        .uk-navbar-left
          ul.uk-navbar-nav
            li.uk-active
              a(href='../') Home
            li
              a(href='/infosider/about') About
            li
              a(href='#') Explore
              .uk-navbar-dropdown
                ul.uk-nav.uk-navbar-dropdown-nav
                  li
                    a(href='/mediainfo/movies') Movies
                  li
                    a(href='/mediainfo/tvshows') TV-Shows
                  li.uk-nav-divider
                  .uk-nav-header More
                  li
                    a(href='/mediainfo/upcomingmovies') Upcoming Movies
                  li.uk-nav-divider
                  li
                    a(href='#') Contact
            .nav-overlay.uk-navbar-item
              form.uk-search.uk-search-default.uk-width-1-1
                  span(uk-search-icon='')
                  input#searchBox.uk-search-input(type='text' placeholder='Search...')
              if username
                include loggedin.pug
              else
                include loggedout.pug
  #mobile-nav.uk-navbar-container(uk-navbar='')
    .nav-overlay.uk-navbar-left
      .hamburger
        .line
        .line
        .line
    .menu
      ul
        li
          a(href='/') Home
        li
          a(href='/mediainfo/movies') Movies
        li
          a(href='/mediainfo/tvshows') TV-Shows
        li
          a(href='/mediainfo/upcomingmovies') Upcoming Movies
        li
          a(href='#') Contact
        img(src='/images/logo/footerlogo.png' alt='' width='200px' height='200px')
    .nav-overlay.uk-navbar-center
      a.uk-navbar-toggle(uk-search-icon='' uk-toggle='target: .nav-overlay; animation: uk-animation-fade' href='#')
    .nav-overlay.uk-navbar-left.uk-flex-1(hidden='')
      .uk-navbar-item.uk-width-expand
        form.uk-search.uk-search-navbar.uk-width-1-1
          input#searchBox.uk-search-input(type='text' placeholder='Search...')
      a.uk-navbar-toggle(uk-close='' uk-toggle='target: .nav-overlay; animation: uk-animation-fade' href='#')
    .nav-overlay.uk-navbar-item
      if username
        include loggedin.pug
      else
        include loggedout.pug