.nav-wrapper
  .uk-position-relative
      nav.uk-navbar-container.uk-navbar-transparent(uk-navbar='')
        .uk-navbar-left
          ul.uk-navbar-nav
            li.uk-active
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Database
              .uk-navbar-dropdown
                ul.uk-nav.uk-navbar-dropdown-nav
                  li.uk-active
                    a(href='#') Active
                  li
                    a(href='#') Item
                  li.uk-nav-header Explore
                  li
                    a(href='#') Movies
                  li
                    a(href='#') TV-Shows
                  li.uk-nav-divider
                  li
                    a(href='#') Contact
                li
                    a.uk-button.uk-button-default.login-btn(href='#modal-center' uk-toggle='') Sign in
                    #modal-center.uk-flex-top(uk-modal='')
                      .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                        button.uk-modal-close-default(type='button' uk-close='')
                        ul.uk-subnav.uk-subnav-pill(uk-switcher='animation: uk-animation-fade')
                          li
                            a(href='#') Login
                          li
                            a(href='#') Signup
                        ul.uk-switcher.uk-margin
                          li
                            form
                              .uk-margin
                                .uk-inline
                                  span.uk-form-icon(uk-icon='icon: user')
                                  input.uk-input(type='text' placeholder='Email')
                              .uk-margin
                                .uk-inline
                                  span.uk-form-icon.uk-form-icon-flip(uk-icon='icon: lock')
                                  input.uk-input(type='password' placeholder='Password')
                              .uk-margin
                                .uk-inline
                                  button.uk-button.uk-button-default.uk-margin-right Enter
                                  a(href='#') Forgot my password
                          li
                            form
                              .uk-margin
                                .uk-inline
                                  span.uk-form-icon(uk-icon='icon: user')
                                  input.uk-input(type='text' placeholder='Email')
                              .uk-margin
                                .uk-inline
                                  span.uk-form-icon.uk-form-icon-flip(uk-icon='icon: lock')
                                  input.uk-input(type='password' placeholder='Password')
                              .uk-margin
                                .uk-inline
                                  span.uk-form-icon.uk-form-icon-flip(uk-icon='icon: lock')
                                  input.uk-input(type='password' placeholder='Repeat password')
                              .uk-margin
                                .uk-inline
                                  button.uk-button.uk-button-default.uk-margin-right Enter
                .uk-navbar-item
                  form.uk-search.uk-search-navbar
                    span(uk-search-icon='')
                    input.uk-search-input(type='search' placeholder='Search...')



