.uk-slider-container-offset(uk-slider='')
  .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
    ul.uk-slider-items.uk-grid(class='uk-child-width-1-4@s')
      li
        .uk-card.uk-card-default
          .uk-card-media-top
            img(src='images/tv1.jpg' alt='')
          .uk-card-body
            h3.uk-card-title Headline
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      li
        .uk-card.uk-card-default
          .uk-card-media-top
            img(src='images/tv2.jpg' alt='')
          .uk-card-body
            h3.uk-card-title Headline
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      li
        .uk-card.uk-card-default
          .uk-card-media-top
            img(src='images/tv3.jpg' alt='')
          .uk-card-body
            h3.uk-card-title Headline
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      li
        .uk-card.uk-card-default
          .uk-card-media-top
            img(src='images/tv4.jpg' alt='')
          .uk-card-body
            h3.uk-card-title Headline
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      li
        .uk-card.uk-card-default
          .uk-card-media-top
            img(src='images/tv5.jpg' alt='')
          .uk-card-body
            h3.uk-card-title Headline
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      li
        .uk-card.uk-card-default
            .uk-card-media-top
                img(src='images/tv6.jpg' alt='')
            .uk-card-body
                h3.uk-card-title Headline
                p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slider-item='previous')
    a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slider-item='next')
  ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin