include ../includes/head.pug
include ../includes/nav.pug

body
    .container
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni placeat tempore debitis.
footer    
    include ../includes/footer.pug

