script.
    var popularMedia = !{popularMovies};
    let currentMediaDisplayed = popularMedia;
    currentMediaDisplayed.slice(0, 16);
    
    function load(){
        document.getElementById('mediaCard').innerHTML += "";
            for (const media of popularMedia.slice(0,16)){
            document.getElementById('mediaCard').innerHTML += mediaCard(media);
        }
    }
    window.onload = load;

include ../includes/head.pug
include ../includes/nav.pug

body
    div#searchDiv
    .container
        .uk-margin-auto.uk-padding-remove.uk-grid.uk-text-center.uk-align-center.uk-flex.uk-flex-center
            h2 Sort
                button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') Sort by
                div.movies-filter-list.upcoming-scroll-bar(uk-dropdown='mode: click')
                    ul
                        a(id="popularMediaDesc") Popularity Descending
                    ul
                        a(id='popularMediaAsc') Popularity Ascending
                    ul
                        a(id='popularMediaSortByDateDesc') Release Date Descending
                    ul
                        a(id='popularMediaSortByDateAsc') Release Date Ascending
                    ul
                        a(id='popularMediaSortByTitleAZ') Title (A-Z)
                    ul
                        a(id='popularMediaSortByTitleZA') Title (Z-A)
            h2 Sort by genre
                button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') Sort by genre
                div.media-genre-list.upcoming-scroll-bar(uk-dropdown='mode: click')
                    ul
                        a(id='28') Action
                    ul
                        a(id='12') Adventure
                    ul
                        a(id='16') Animation
                    ul
                        a(id='35') Comedy
                    ul
                        a(id='80') Crime
                    ul
                        a(id='99') Documentary
                    ul
                        a(id='18') Drama
                    ul
                        a(id='10751') Family
                    ul
                        a(id='14') Fantasy
                    ul
                        a(id='36') History
                    ul
                        a(id='27') Horror
                    ul
                        a(id='10402') Music
                    ul
                        a(id='9648') Mystery
                    ul
                        a(id='10749') Romance
                    ul
                        a(id='878') Science Fiction
                    ul
                        a(id='10770') TV Movie
                    ul
                        a(id='53') Thriller
                    ul
                        a(id='10752') War
                    ul
                        a(id='37') Western
        .uk-grid.uk-margin-remove.uk-padding-remove(class='uk-child-width-1-4@s')#mediaCard
        .uk-grid.uk-button.uk-button-default.uk-align-center(class='uk-width-1-2@s')
            a#loadMore(onclick="load(currentMediaDisplayed, event)")
                span.text Load More
            #noMoreMedia
                a(href="#")
                    span.text No more movies, click to go to top.



include ../includes/footer.pug
script(src="/javascript/mediainfo/media.js")