include ../includes/head.pug
include ../includes/nav.pug
body
  .overlay
    .container
      // Grid
      div(uk-grid='').film_oversikt
        // Poster image
        .uk-width-1-2.uk-flex-middle.filminfo_img
          img(src='/images/imgmovies/hard_kill.jpg' alt='')
        // Informasjon on film
        .uk-width-1-3
          .uk-padding.uk-padding-remove-left.uk-padding-remove-right.filminfo_text_wrap
              h2 Hard Kill 
                a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO' width="40" height ="40" uk-icon='heart')
                a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO' width="40" height ="40" uk-icon='star')
              h3 10/23/2020 - Action, Thriller
              h3 1 Hour 38 Minutes
              h1 95%
              h2 Overview
              p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nam natus ipsum obcaecati tempore, molestiae, officia dolorum ad odio molestias a, id commodi officiis itaque aliquid in nemo reprehenderit eveniet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam natus nisi veniam reprehenderit voluptatibus a esse repellendus, corporis ipsam autem libero repellat laboriosam doloribus similique numquam exercitationem labore impedit placeat?
              .direc(uk-grid='')
                .uk-width-1-2
                  p Director
                  a(href='')
                    b  Name Nameson  
                .uk-width-1-2
                  p Screenplay
                  a(href='')
                    b  Name Nameson  
      // Slider
      .uk-grid
        .uk-width-5-6.uk-align-center(style='max-width: 1150px;')
          .uk-slider-container-offset(uk-slider='')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
              ul.uk-slider-items.uk-grid(class='uk-child-width-1-5@s uk-grid-match')
                li
                  .uk-card.uk-card-default
                    .uk-card-media-top
                      img(src='/images/imgactors/bruce_willis.jpg' alt='' width='100%')
                    .uk-card-body
                      h3.uk-card-title Bruce Willis
                      p Chalmers
                li
                  .uk-card.uk-card-default
                    .uk-card-media-top
                      img(src='/images/imgactors/jesse_metcalfe.jpg' alt='' width='100%')
                    .uk-card-body
                      h3.uk-card-title Jesse Metcalfe
                      p Miller
                li
                  .uk-card.uk-card-default
                    .uk-card-media-top
                      img(src='/images/imgactors/natalie_eva_marie.jpg' alt='' width='100%')
                    .uk-card-body
                      h3.uk-card-title Eva Marie
                      p Sasha
                li
                  .uk-card.uk-card-default
                    .uk-card-media-top
                      img(src='/images/imgactors/lala-kent.jpg' alt='' width='100%')
                    .uk-card-body
                      h3.uk-card-title Lala Kent
                      p Eva Chalmers
                li
                  .uk-card.uk-card-default
                    .uk-card-media-top
                      img(src='/images/imgactors/texas-battle.jpg' alt='' width='100%')
                    .uk-card-body
                      h3.uk-card-title Texas Battle
                      p Fox
                li
                  .uk-card.uk-card-default
                    .uk-card-media-top
                      img(src='/images/imgactors/swen-temmel.jpg' alt='' width='100%')
                    .uk-card-body
                      h3.uk-card-title Dash hawkings
                      p Nisse
              a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-previous='' uk-slider-item='previous')
              a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#' uk-slidenav-next='' uk-slider-item='next')
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
          // Reviews og Media
          div
            
          ul(uk-tab='')
            li
              a(href='#') Reviews
            li
              a(href='#') Media

          ul.uk-switcher.uk-margin
            li
              article.uk-comment.uk-comment-primary.uk-margin-top
                header.uk-comment-header
                  .uk-grid-medium.uk-flex-middle(uk-grid='')
                    .uk-width-auto
                      img.uk-comment-avatar(src='images/avatar.jpg' width='80' height='80' alt='')
                    .uk-width-expand
                      h4.uk-comment-title.uk-margin-remove
                        a.uk-link-reset(href='#') Author
                      ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
                        li
                          a(href='#') 12 days ago
                .uk-comment-body
                  p
                    | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            li
              iframe(width='1280' height='720' src='https://www.youtube.com/embed/D1yo-zswLw4?autoplay=1' allowframeborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

      include ../includes/footer.pug