script.
    var popularMedia = !{tvShows}
    function load(){
        document.getElementById('mediaCard').innerHTML += "";
        for (const media of popularMedia.slice(0,16)){
            document.getElementById('mediaCard').innerHTML += mediaCard(media);
        }
    }
    window.onload = load;
    

include ../includes/head.pug
include ../includes/nav.pug

body
    .container.uk-grid.uk-margin-top
        .uk-grid.uk-width-1-1.uk-margin-auto
            h2 Sadd
                button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') Sort by
                div.tv-shows-filter-list.upcoming-scroll-bar(uk-dropdown='mode: click')
                    ul
                        a(id="popularMediaDesc") Popularity Descending
                    ul
                        a(id='popularMediaAsc') Popularity Ascending
                    ul
                        a(id='popularMediaSortByDateDesc') Release Date Descending
                    ul
                        a(id='popularMediaSortByDateAsc') Release Date Ascending
                    ul
                        a(id='popularMediaSortByTitleAZ') Title (A-Z)
                    ul
                        a(id='popularMediaSortByTitleZA') Title (Z-A)
            h2 Sort by genre
                button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') Sort by
                div.media-genre-list.upcoming-scroll-bar(uk-dropdown='mode: click')
                    ul
                        a(id='10759') Action & Adventure
                    ul
                        a(id='16') Animation
                    ul
                        a(id='35') Comedy
                    ul
                        a(id='80') Crime
                    ul
                        a(id='99') Documentary
                    ul
                        a(id='18') Drama
                    ul
                        a(id='10751') Family
                    ul
                        a(id='10762') Kids
                    ul
                        a(id='10763') News
                    ul
                        a(id='10764') Reality
                    ul
                        a(id='10765') Sci-Fi & Fantasy
                    ul
                        a(id='10766') Soap
                    ul
                        a(id='10767') Talk
                    ul
                        a(id='10768') War & Politics
                    ul
                        a(id='37') Western
        .upcomingMovies.uk-grid.uk-width-1-1
            .uk-grid.uk-child-width-1-4#mediaCard
            .uk-grid.uk-width-1-1.uk-button.uk-button-default.uk-align-center
                a#loadMore(onclick="load(currentMediaDisplayed, event)")
                    span.text Load More
                #noMoreMedia
                    a(href="#")
                        span.text No more movies, click to go to top.

script.
    

include ../includes/footer.pug
script(src="/javascript/mediainfo/media.js")