- var upcomingMovies = [{upcomingMovies}];

include ../includes/head.pug
include ../includes/nav.pug

body
    .container.uk-grid.uk-margin-top
        .filter-wrap.ukgrid.uk-width-1-4.upcoming-no-padding
            button.uk-button.uk-button-default.uk-align-center.uk-margin-top(type='button') Sort by
            div.upcoming-scroll-bar(uk-dropdown='mode: click')
                ul
                    a Popularity Descending
                ul
                    a Popularity Ascending
                ul
                    a Release Date Descending
                ul
                    a Release Date Ascending
                ul
                    a Title (A-Z)
                ul
                    a Title (Z-A)
            .upcoming-text-align
                h3 Filter by genre
                ul.uk-list
                    li
                        a Action
                    li
                        a Adventure
                    li
                        a Animation
                    li
                        a Comedy
        .upcomingMovies.uk-grid.uk-width-3-4
            .uk-grid.uk-child-width-1-4
                each item in upcomingMovies[0].upcomingMovies
                    .uk-card.uk-card-default.upcoming-card-padding
                        .uk-card-media-top
                            img(src=`https://www.themoviedb.org/t/p/w600_and_h900_bestv2/${item.pictureUrl}` alt='')
                        .uk-card-body
                            h3.uk-card-title=item.title
                            p= item.releaseDate
include ../includes/footer.pug