script.
    var upcomingMovies = !{upcomingMovies};
    function load(){
        document.getElementById('mediaCard').innerHTML += "";
        for (const media of upcomingMovies.slice(0,16)){
            document.getElementById('mediaCard').innerHTML += mediaCard(media);
        }
    }
    window.onload = load;

include ../includes/head.pug
include ../includes/nav.pug

body
    div#searchDiv
    .container.uk-grid.uk-margin-top
        .upcomingMovies.uk-grid(class='uk-width-1-1@s')
            .uk-grid(class='uk-child-width-1-4@s')#mediaCard
            .uk-grid.uk-button.uk-button-default.uk-align-center(class='uk-width-1-2@s')
                a#loadMore(onclick="load(upcomingMovies, event)")
                    span.text #{__("UPCOMING_LOAD_MORE_BUTTON")}
                #noMoreMedia
                    a(href="#")
                        span.text #{__("UPCOMING_NO_MORE_MOVIES_BUTTON")}



include ../includes/footer.pug
script(src="/javascript/mediainfo/media.js")