script.
    var upcomingMovies = !{upcomingMovies}
    function load(){
        document.getElementById('mediaCard').innerHTML += "";
        for (const media of upcomingMovies.slice(0,16)){
            document.getElementById('mediaCard').innerHTML += mediaCard(media);
        }
    }
    window.onload = load;

include ../includes/head.pug
include ../includes/nav.pug

body
    .container.uk-grid.uk-margin-top
        .upcomingMovies.uk-grid.uk-width-1-1
            .uk-grid.uk-child-width-1-4#mediaCard
            .uk-grid.uk-width-1-1.uk-button.uk-button-default.uk-align-center
                a#loadMore(onclick="load(upcomingMovies, event)")
                    span.text Load More
                #noMoreMedia
                    a(href="#")
                        span.text No more movies, click to go to top.



include ../includes/footer.pug
    script(src="/javascript/mediainfo/media.js")