html(lang="en")
    include includes/head.pug
    include includes/nav.pug
    body
    .header-img
    .container
        h1 Pug - node template engine
        #container.col
            p You are amazing Arne!
            p Pug is a terse and simple templating language.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quam similique commodi a, deleniti aliquid! Perferendis placeat, illum provident id excepturi magnam sequi tempore, officia expedita enim, modi libero iste.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti veritatis recusandae dolorem vero dolorum adipisci tenetur rem officiis dolore eos nisi, velit libero dolores ea iusto blanditiis ratione totam iure!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, accusamus saepe fugiat error asperiores alias ratione modi ipsa fugit deleniti distinctio doloribus amet eveniet officia omnis debitis libero nihil sapiente. Consectetur, et in. Ullam accusamus eveniet vero. Asperiores et, obcaecati aut quia corrupti voluptatem repudiandae quam recusandae! Numquam omnis sunt quam aut iste dolore accusamus voluptatum earum atque optio minima, similique nulla totam nobis dolorum hic debitis asperiores itaque corporis beatae ipsum praesentium dignissimos eveniet. Ipsum suscipit ex, voluptatibus expedita quasi quo veritatis harum sequi odit doloremque neque dolores dignissimos exercitationem fugiat reiciendis, doloribus libero pariatur! Pariatur odio laudantium fugit illum ut! Aut hic, perferendis aspernatur distinctio at, culpa repellendus vero nisi sunt rem, praesentium labore! Voluptatum nostrum, quibusdam repudiandae fugit, odio dolorem tenetur dolorum nesciunt minima quis totam nemo hic debitis itaque facere delectus esse! Odit culpa architecto esse iure officiis corrupti natus totam fuga quia animi a, eveniet, laboriosam aspernatur ducimus? Aliquam ipsam, explicabo esse enim iusto mollitia nostrum in cum ex exercitationem laborum tenetur ut dolore dolorum obcaecati dolores porro. Nemo possimus praesentium porro ratione suscipit reprehenderit odio sapiente sunt, eius omnis alias perferendis laudantium debitis repellat qui veniam exercitationem fugit ab earum animi, vero libero esse!
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
        script(src='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit.min.js')
        script(src='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit-icons.min.js')
        script(src="/socket.io/socket.io.js")
        script(src="javascript/socketIO.js")
