script.
    var error = !{error}
    var errorType = !{errorType}
    var trendingChart = !{trendingChart}
include includes/head.pug
include includes/nav.pug
body
    div#searchDiv
    .header-img
    .container
        h1 Discover movies
        include includes/movieslider.pug
        h1 Discover tv-shows
        include includes/tvslider.pug
        #container(style='width:100%; height:600px;')
        .uk-child-width-1-1.uk-grid
            div
                .uk-card.uk-card-default.uk-card-large.uk-card-body.uk-child-width-1-1
                    h3.uk-card-title Join Filmatory Today
                    .uk-child-width-1-2.uk-grid
                        p With a membership you will be able to rate movies and make your own lists. Signing up is easy, free and fun.
                        ul.uk-list.uk-list-square
                            li Social
                            li Free
                            li Secure
    include includes/footer.pug
    script(src="javascript/index/chart.js")
    script(src="javascript/index/liveSearch.js")
script.
    if(error != undefined) {
        console.log(error);
        switch(errorType) {
            case "signup": 
                UIkit.modal("#modal-center").show();
                document.getElementById("loginButton").className = "";
                document.getElementById("signupButton").className = "uk-active";
                document.getElementById("loginForm").className = "";
                document.getElementById("signupForm").className = "uk-active";
                document.getElementById("loginButton").ariaExpanded="false";
                document.getElementById("signup-error").style.display='block';
                document.getElementById("signup-error").innerHTML += 'ERROR: ' + error;
                break;
            case "login":
                UIkit.modal("#modal-center").show();
                document.getElementById("login-error").style.display='block';
                document.getElementById("login-error").innerHTML += 'ERROR: ' + error;
                break;
            case "forgottenPassword":
                UIkit.modal("#modal-center").show();
                document.getElementById("forgot-error").style.display='block';
                document.getElementById("forgot-error").innerHTML += 'ERROR: ' + error;
                break;
            default:
                UIkit.modal("#modal-center").hide();
        }
    }