include includes/head.pug
include includes/nav.pug
div#searchDiv
body
    .header-img
    .container
        h1 Discover movies
        include includes/movieslider.pug
        h1 Discover tv-shows
        include includes/tvslider.pug
        .uk-child-width-1-1.uk-grid
            div
                .uk-card.uk-card-default.uk-card-large.uk-card-body.uk-child-width-1-1
                    h3.uk-card-title Join Filmatory Today
                    .uk-child-width-1-2.uk-grid
                        p With a membership you will be able to rate movies and make your own lists. Signing up is easy, free and fun.
                        ul.uk-list.uk-list-square
                            li Social
                            li Free
                            li Secure
    include includes/footer.pug
    script(src="javascript/index/liveSearch.js")
    //p!= UIkit.modal("#modal-center").show();
