html(lang="en")
    include includes/head.pug
    include includes/nav.pug
    body
    .header-img
    .container
        h1 Discover movies
        include includes/movieslider.pug
        h1 Discover tv-shows
        include includes/tvslider.pug
        .uk-child-width-1-1.uk-grid
            div
                .uk-card.uk-card-default.uk-card-large.uk-card-body.uk-child-width-1-1
                    h3.uk-card-title Join Filmatory Today
                    .uk-child-width-1-2.uk-grid
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        ul.uk-list.uk-list-square
                            li placeholder
                            li placeholder
                            li placeholder
                            li placeholder
                            li placeholder
    footer
        include includes/footer.pug
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit.min.js')
    script(src='https://cdn.jsdelivr.net/npm/uikit@3.6.3/dist/js/uikit-icons.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="javascript/socketIO.js")
