/*********************************/
/* Rammesverket
/* @Author Ørjan Dybevik - 233530
/*********************************/

body{
  font-family: 'Open Sans', sans-serif !important;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 20px;
  min-height: 100%;
}

.header-img {
  width: 100%;
  height: 600px;
  background: url(/images/backgrounds/ticket-2974645.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  background-position: 0px;
  position: relative;
}

.header-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(23 23 62 / 70%);
}

.header-img .container {
  display: flex;
  align-items: center;
}

.header-img h1 {
  position: relative;
  color: white;
  z-index: 2;
  max-width: 870px;
  font-size: 58px;
  font-weight: bold;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-card-heading {
  line-height: 1.3;
}

.card-animation{
  transition: 0.5s;
  position: relative;
}

.card-animation:hover{
  transform:scale(1.1);
  z-index: 1;
}

img.center {
  display: block;
  margin: 0 auto;
}

.remove-padding {
  padding: 0px;
}

.remove-margin {
  margin: 0px;
}

.avatar{
  width: 40px;
  height: 40px;
  border: 1px rgb(75, 75, 75) solid;
}

.letter-break{
  word-break: break-all;
}

.anchor-remove-text-decoration:hover{
  text-decoration: none;
}

/*********************************/
/* Navbar
/* @Author Ørjan Dybevik - 233530
/*********************************/

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle,
.uk-navbar-item, .uk-navbar-nav>li>a, span,
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif !important;
}
.nav-wrapper {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0;

}

.mobile-nav{
  display: none;
}

.nav-buttons{
  height: 40px;
  padding: 0px;
  width: 80px;
  margin-right: 20px;
}

@media (max-width: 680px) {
  .desktop-nav{
    display:none;
  }

  .nav-wrapper {
    max-width: 100%;
  }

  .mobile-nav{
    display: flex;
    margin: 0;
  }
  
  .menu ul {
    overflow: hidden;
    list-style-type: none;
    padding:0;
    margin: 0;
  }
  
  .menu li {
    display: block;
    margin: 0;
    width: 100%;
    transition: background-color .5s;
  }
  
  .menu li a {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    transition: all 1s;
  }
  
  .hamburger{
    margin: 0;
    margin-left: 15px;
    padding: 0;
    float: left;
    transition: opacity .3s;
    z-index: 15;
  }
  
  @keyframes fade {
    from{transform: translateX(-200px); opacity: 0;}
    to {transform: translateX(0px); opacity: 1;}
  }
  
  .menu {
    background-color: #f8f8f8;
    width: 100%;
    height: 485px;
    display: none;
  }
  
  .menu ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
  }
  
  .menu li {
    display: block;
    margin: 0;
    width: 100%;
  }
  
  .hamburger .line{
    width: 35px;
    height: 3px;
    margin: 10px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger .line {
    background-color: rgb(75, 75, 75)
  }
  
  
  .hamburger.isactive .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.isactive .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }
  
  .hamburger.isactive .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
  
  .menu {
    transition: all 2s ease-in-out;
  }
  
  .menu.active {
    margin-top: 79px;
    display: block;
    animation: fade .5s;
    position: absolute;
    text-align: center;
    line-height: 50px;
    z-index: 99999;
  }

  .uk-search-input{
    width: 75%;
  }
}

/*********************************/
/* Footer
/* @Author Ørjan Dybevik - 233530
/*********************************/

footer {
  background-image: url('https://pngimage.net/wp-content/uploads/2018/06/footer-background-png-6.png');
  margin-top: 100px;
  height: 350px;
  width: 100%;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footerlogo {
  align-self: center;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  display: block;
}

.footer-list {
  align-self: center;
  margin: 0 auto;
}

.footer-list a {
  color: #666;
  line-height: 40px;
  text-decoration: none;
}

.socials {
  align-self: center;
  margin: 0 auto;
  display: block;
  
}

.socials h4 {
  color: #666;
}

.footer-socials-wrapper {
  text-align: center;
}

.footer-socials-wrapper a {
  margin: 5px;
}

/*********************************/
/* Searchbar
/* @Author Ørjan Dybevik - 233530
/*********************************/

#searchDiv {
  position: absolute;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  max-height:1000px;
  overflow: scroll;
  display: none;
  overflow-x: hidden;
}

#searchDiv::-webkit-scrollbar{
  width: 10px;
}

#searchDiv::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
#searchDiv::-webkit-scrollbar-thumb {
  border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: rgb(161, 161, 161); 
}

#searchDiv::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129); 
}

@media screen and (max-width: 680px) {
  #searchDiv .uk-card {
    width:100%;
    font-size: 12px;
  }

  #searchDiv h3{
    font-size: 20px;
  }

  #searchDiv .uk-card-body{
    padding: 20px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1024px) {
  #searchDiv {
    max-width: 1000px;
  }
}

.search-result{
  margin: 0 auto;
  transition: 0.5s;
  max-height: 200px;
}

.search-result:hover{
  color: black;
  transform: scale(1.05);
  z-index: 2;
  text-decoration: none;
}

img.search-image-style{
  width: 150;
  height: 200;
}

.no-margin{
  margin:0;
}

/*********************************/
/* Upcoming.pug */
/* @Author Ørjan Dybevik - 233530
/*********************************/

.upcoming-scroll-bar {
  overflow: hidden;
  overflow-y: scroll;
  height: 150px;
  width: 150px;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
}

.upcoming-scroll-bar::-webkit-scrollbar{
  width: 10px;
}

.upcoming-scroll-bar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.upcoming-scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background: rgb(161, 161, 161); 
}

.upcoming-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 129, 129); 
}

.upcoming-scroll-bar ul {
  padding: 0px;
}

.upcoming-scroll-bar ul a {
  color: #666;
  text-decoration: none;
}

.upcoming-scroll-bar ul:hover {
  background-color: rgb(230, 230, 230);
}

.filter-wrap {
  border: 1px solid;
  height: 400px;
}

.upcoming-card-padding {
  padding: 15px 15px 15px 15px;
}

.upcoming-text-align {
  text-align: center;
}

.upcoming-load-more-text{
  font-size: larger;
}

#loadMore{
  display: block;
}

#noMoreMedia{
  display: none;
}

#noMoreMedia a{
  display: block;
}

/*********************************/
/*          personinfo.pug        */
/* @Author Sigve E. Eliassen - 233511
/*********************************/

.overlayA{
  background-position: center 40%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  position: relative;
}

.overlayA h4 {
  color: white;
}
.overlayA h4 {
  margin-top: 20px;
  margin-bottom: 2px;
}

.overlayA img {
  padding-left: 10px;
}

.containerA {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 20px;
  min-height: 100%;
  margin-top: 20px;
}
.close h3 {
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
}
.close p {
  white-space: nowrap;
  margin-top: 3px;
  margin-bottom: 3px;
}

/*********************************/
/* lists.pug                     */
/* @Author Sigve E. Eliassen - 233511, Ørjan Dybevik - 233530
/*********************************/

.list-image-style{
  width: 225;
  height: 300;
}

/*********************************/
/* Filminfo.pug / Serieinfo.pug  */
/* @Author Ørjan Dybevik - 233530, Sigve E. Eliassen - 233511
/*********************************/

#reviewPoster{
  margin-top: 8px;
}

#reviewPoster p{
  padding-top: 5px;
  margin-bottom: 5px;
}

#mediainfo-review-stars{
  font-size: 30px;
  color: gold;
  text-shadow: 1px 1px #bbb;
}


.stars{
  text-align: center;
  float: left;
}

.stars input{
  display: none;
}

.stars label{
  float: right;
  font-size: 40px;
  color: lightgrey;
  margin: 0 1px;
  text-shadow: 1px 1px #bbb;
}

.stars label:before{
  content: '★';

}

.stars input:checked ~ label{
  color: gold;
  text-shadow: 1px 1px #c60;
}

.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label{
  color: gold;
}

.stars input:checked > label:hover,
.stars input:checked > label:hover ~ label{
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.stars input:checked ~ .result:before{
  display: block;
}

.stars #one:checked ~ .result:before{
  content: "1 Star";
}

.stars #two:checked ~ .result:before{
  content: "2 Stars";
}

.stars #three:checked ~ .result:before{
  content: "3 Stars";
}

.stars #four:checked ~ .result:before{
  content: "4 Stars";
}

.stars #five:checked ~ .result:before{
  content: "5 Stars";
}

.direc {
  font-size: small;
  margin-top: 50px;
}

.direc a {
  font-size: 1.2em;

}

.overlay{
  background-position: center 40%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  position: relative;
}

.overlay:after{
  content: "";
  display: block;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(107,107,107,1) 50%, rgba(0,0,0,1) 100%);
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.film_oversikt {
  height: 900px;
  text-align: center;
  position: relative;
  color: white;
  z-index: 2;
  margin: 0 auto;
}

.filminfo_text_wrap h2{
  color: white;
}

.filminfo_text_wrap h3{
  color: white;
}

.filminfo_text_wrap a{
  color: white;
}

.filminfo_text_wrap h1{
  border-radius: 5px 20px 5px;
  background: linear-gradient(90deg, rgba(2,255,10,1) 0%, rgba(0,255,72,1) 50%, rgba(0,120,0,1) 100%);
  width: 150px;
  margin: 0 auto;
}

.mediainfo_img{
  padding: 60px;
}

@media (max-width: 640px) {
  .mediainfo_img{
    display: none;
  }
}


.noContent {
  color: #000 !important;
  background-color: transparent !important;
  pointer-events: none;
}

/* About page
/* @Author Govert Dahl - 233565
*/

.about-page-margin {
  margin-top: 36;
  margin-bottom: 40;
  }

.about-page-center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*********************************/
/* Dashboard.pug */
/* @Author Ørjan Dybevik - 233530
/*********************************/

.dashboard-menu{
  line-height: 5;
}

.dashboard-favorite-padding{
  padding: 15px 15px 15px 15px;
}

.image-slider-mylists{
  min-height: 400px !important;
  width: 100%;
}

/*********************************/
/* Errors */
/* @Author Ørjan Dybevik - 233530
/*********************************/

#login-error {
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#signup-error {
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#forgot-error {
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#dashboard-avatar-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#dashboard-username-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#dashboard-password-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#about-contact-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#reset-password-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#admin-add-language-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

#admin-deleted-language-error{
  box-shadow: 0 1px 2px rgba(0,0,0,0.11);
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #5d2625;
  min-height: 35px;
  line-height: 35px;
  border-radius: 10px;
  text-align: center;
  font-size:14px;
  display: none;
  font-weight: bold;
}

/*********************************/
/* Language menu */
/* @Author Ørjan Dybevik - 233530
/*********************************/

.lang{
  margin: 0;
  text-align: center;
  position: relative;
  margin-right: 15px;
  max-width: 100px;
}

.lang-wrapper{
  min-width: 100px;
  text-align: center;
  padding: 0;
}

.lang-wrapper ul li a {
  color: black;
}

.select li a {
  padding: 10px 0px;
}

.select li:nth-child(even){
  background-color: rgb(255, 255, 255)
}

.select li:nth-child(odd){
  background-color: rgb(233, 233, 233);
}

/*********************************/
/* Admin dashboard */
/* @Author Ørjan Dybevik - 233530
/*********************************/

.admin-dashboard-container{
  max-width: 70%;
  margin: 0px auto;
  padding: 0 20px;
  min-height: 100%;
}

.admin_green_btn{
  font-size: 20px;
  border-radius: 10px;
}

.admin_red_btn{
  font-size: 20px;
  border-radius: 10px;
}

.admin_btn{
  font-size: 20px;
  border-radius: 10px;
}

.admin_green_btn:hover{
  background-color: rgb(96, 255, 136);
}

.admin_red_btn:hover{
  background-color: rgb(255, 97, 97);
}

.admin_btn:hover{
  background-color: rgb(159, 193, 255);
}

#admin-edit-edit-review-form{
  display: none;
}

#admin-delete-review-form{
  display: none;
}


/*********************************/
/* Tooltip */
/* @Author Ørjan Dybevik - 233530
/*********************************/

.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
}

.tooltip .bottom {
  min-width:220px;
  top:40px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#3f3f3f;
  background-color:#c3ffc8;
  text-align: center;
  font-weight: bold;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  display:none;
}

.tooltip:hover .bottom {
  display:block;
}

.tooltip-add{
  display:inline-block;
  position:relative;
  text-align:left;
}

.tooltip-add .bottom-add {
  min-width: 100px;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 5px 20px;
  color: #3f3f3f;
  background-color: #c3ffc8;
  font-weight: bold;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 99999999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
  display: none;
  height: 50px;
}

.tooltip-add:hover .bottom-add {
  display:block;
}