.admin-dashboard-container
    ul(uk-accordion='multiple: true')
        li
            a.uk-accordion-title(href='#') Ban
            .uk-accordion-content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        li
            a.uk-accordion-title(href='#') Unban
            .uk-accordion-content
                p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.