.uk-card.uk-card-default.uk-card-body
    .uk-text-bold
        p Change your password, make sure its:
        p - 8 to 20 characters long
        p - Atleast 1 number
        p - Atleast 1 uppercase letter and 1 lowercase letter
    form(action='/user/dashboardChangePassword' method='post')
        .uk-text-light
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='dashboardNewPassword' placeholder='Password' required)
            .uk-margin
                .uk-inline
                    span.uk-form-icon.uk-form-icon(uk-icon='icon: lock')
                    input.uk-input(type='password' name='dashboardNewPasswordRepeat' placeholder='Repeat password' required)
            .uk-margin
                .uk-inline
                    button.uk-button.uk-button-default.uk-margin-right(type='submit') Enter