script.
    var userStats = !{userStats};
p #{__("DASHBOARD_STATISTICS_TITLE")}
    .uk-flex
        #containerWatched(class='uk-flex-center' style='width:100%; height:400px;')
        #containerFavorite(class='uk-flex-center' style='width:100%; height:400px;')