include ../includes/head.pug
include ../includes/nav.pug

body
    .container
        h About us
        p Filmatory is a Norwegian start-up company. We're a group of unexperienced students with different skills.
        p Making Filmatory has been our Product Owner's, Sivert, life long dream. He loves javascript node and using his node-skills to get information about movies and shows.
        p Our front end geek Ørjan loves to design designs. In his head everything has to be beautiful and in line with his vision.
         
include ../includes/footer.pug